.main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  background: linear-gradient(93deg, #210404, #e8141400);
}
.text {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 25px;
  font-family: revert;
  font-weight: 600;
}
.container {
  height: 500px;
  width: 400px;
  background-color: white;

  box-shadow: 6px 6px 2px 2px grey;
  overflow-y: auto;
}

.inputBox {
  display: flex;
  justify-content: center;
  padding: 15px 0px;
}

.inputBox > input {
  width: 246px;
  height: 20px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .container {
    width: 75%;
    padding: 0px 15px;
  }
}
